@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
//Variables
$mainColor: #3498db;
$secondaryColor: #333333;
$secondaryColorDark: #212121;
$lightGray: #eaeaea;
$font: 'Open Sans', sans-serif;

body {
  //border: 1px solid;
  font-family: $font;
  padding: 10px;
  background-color: $lightGray;

  #todo_wrapper{
    min-width: 1000px;
    width: 100%;
    height: 550px;
    background-color: #fff;
    position: relative;
    #tab_container{
      width: 100%;
      height: 50px;
      background-color: $secondaryColor;
      position: absolute;
      top: 0; left: 0;
      .tab_name{
        text-align: center;
        width: 50%;
        height: 50px;
        line-height: 50px;
        float: left;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
      }
      .t_active{
        background-color: $mainColor;
      }
    }
    #todo_content{
      width: 1000px;
      height: 500px;
      margin: 0;
      padding: 0;
      background-color: #fff;
      position: absolute;
      top: 50px;
      border: 0;
    }
  }
}
