body {
  font-family: 'Montserrat', sans-serif;
}

table {
  border-collapse: collapse;
  margin-left: 47.5px;
}

table th {
  width: 200px;
  text-align: left;
  background-color: #3498DC;
  color: white;
}

table th, td {
  padding: 5px;
}
table tr:nth-child(odd){
  background-color: #CCCCCC;
}
